<% unless @family.students.empty? %>
  <h3>&nbsp;</h3>
  <div class="panel clearfix">
    <h5>Students</h5>
    <ul class="side-nav">
      <% @family.students.each do |student| %>
        <li><%=  student.proper_name %></li>
      <% end %>
    </ul>
  </div>
<% end %>