<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%= link_to(image_tag('logo.gif'), home_path) %>
  </div>
  <div class="col s10">
    <h2>Alex & Marks Chess Camp put picture banner here</h2>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>
